<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UI.Properties.Settings.PSSC_DataBaseConnectionString"
            connectionString="Data Source=andreea-rus.database.windows.net;Initial Catalog=PSSC_DataBase;Persist Security Info=True;User ID=andreea"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>